body,
.scroll {
    border: 1px solid;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #a09714f6;
    border-radius: 50px
}

::-webkit-scrollbar-thumb {
    background: #ffd000;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffd000;
}

html {
    background-color: #ffff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 16px;
    font-family: 'RobotoCondensed';
    overflow: hidden;
}

.cuadro_texto {
    width: 20%;
}

.img_principal {
    width: 150px;
    height: 120px;
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 1%;
}

.iconos {
    position: absolute;
    height: auto;
    left: 2%;
    right: 0%;
    top: 5%;
}

.cuadro_texto2 {
    position: absolute;
    height: 100px;
    left: 0%;
    right: 0%;
    top: 20%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    color: #ffd000;
    display: inline-block;
    padding: 5px 35px;
    text-decoration: none;
    background-color: #ffd000;
    border-radius: 30px;
    width: 170px;
    height: 60px;
    color: rgb(0, 0, 0);
    font-family: cursive;
    font-style: oblique;
    font-weight: 500;
    font-size: 23px;
    text-align: center;
    margin-left: 35%;
}

.menu ul li a:hover {
    background-color: rgba(0, 0, 0, 0.472);
}

.reg ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.reg ul li {
    display: inline-block;
}

.reg ul li a {
    color: rgb(0, 0, 0);
    display: block;
    padding: 20px px;
    text-decoration: none;
}

.reg ul li a:hover {
    background-color: rgba(0, 0, 0, 0.472);
}

.img_salir {
    width: 15px;
    height: 20px;
    border-radius: 10px;
    color: black;
}

.table {
    color: black;
    margin-left: 5%;
    margin-top: 2%;
}

.text2 {
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.text3 {
    font-weight: 500;
    font-family: Courier, 'Lucida Console', monospace;
}

.listado {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
}

.RegisCur {
    background-color: #ffd000;
    color: black;
    border: 1px solid #636668;
    padding: 3px 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border-radius: 9px;
    width: 200px;
    height: 50px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    margin-bottom: 5%;
    margin-top: 8%;
}

.boton {
    border: 1px solid #ffd000;
    /*anchura, estilo y color borde*/
    padding: 10px;
    /*espacio alrededor texto*/
    background-color: #ffd000;
    /*color botón*/
    color: black;
    /*color texto*/
    text-decoration: none;
    /*decoración texto*/
    text-transform: uppercase;
    /*capitalización texto*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 15px;
    /*tipografía texto*/
    border-radius: 50px;
    /*bordes redondos*/
    display: inline-block;
}