body,
html {
    background-color: #ffff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 16px;
    font-family: 'RobotoCondensed';
    overflow: hidden;
}
.table {
    color: black;
    margin-left: 45%;
    margin-top: 10%;
    height: 30px;
    background-color: #ffff;
}
.table tr{
    height: 30px;
}
.boton{
    border: 1px solid #ffd000;
    padding: 10px;
    background-color: #8d876d;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 15px;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 45%;
    margin-top: 10%;
}
.boton1{
    border: 1px solid #ffd000;
    padding: 10px;
    background-color: #8d876d;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 15px;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 45%;
    margin-top: 5%;
}