body {
    text-align: center;
}

.scroll {
    border: 1px solid;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #a09714f6;
    border-radius: 50px
}

::-webkit-scrollbar-thumb {
    background: #ffd000;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffd000;
}

form {
    background-color: #ffd000;
    width: 500px;
    height: auto;
    margin-left: 34%;
    margin-top: 5%;
    border-radius: 5%;
    box-shadow: 10px 10px 10px rgb(128, 114, 114);
    margin-bottom: 6%;
}

img {
    width: 50px;
    height: 50px;
    margin-top: 3%;
    border-radius: 10px;
}

select,
input {
    margin: 20px;
    height: 27PX;
    border-radius: 10px;
    display: block;
    margin-left: 35%;
    font-family: Courier, 'Lucida Console', monospace;
    font-weight: 400;
}

.titulo {
    color: rgb(0, 0, 0);
    font-family: Trebuchet MS, Verdana, sans-serif;
    font-style: oblique;
    font-weight: 500;
    text-align: center;
    font-size: 17px;
    text-shadow: 3px 3px 3px rgb(128, 114, 114);
}

.rol {
    width: 160px;
}

.rol-text {
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.LogIn {
    background-color: #ffff;
    color: black;
    border: 1px solid #636668;
    padding: 3px 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border-radius: 12px;
    width: 90px;
    height: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.LogIn:hover {
    background-color: #636668;
    color: white;
}

.text {
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.CosaFea {
    text-align: center;
    font-size: 15px;
    color: black;
}


/* @media screen (490PX ){

} */