.card{
    background-image: url("https://gstatic.com/classroom/themes/Honors.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 80px;
    padding-top: 10px;
    display :flex;
}


